header {
  width: auto;
  height: 100px;
  background-color: #FD9255;
  padding: 1rem 2rem;
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

.image {
  width: auto;
  height: auto;
  display: flex;
  justify-items: center;
}

.image img {
  width: 4rem;
  height: auto;
}

.menu {
  display: flex;
  gap: 50px;
}

ul li{
  display: flex;
  align-items: center;
  list-style: none;
  color: #fff;
}